<h1>Temperature: {{sensor.temperature}}&nbsp;&deg;C</h1>
<!-- <canvas id="temperatureGraph" width="800" height="200"></canvas> -->

<h1>Humidity: {{sensor.humidity}}&nbsp;%</h1>
<!-- <canvas id="humidityGraph" width="800" height="200"></canvas> -->

<canvas linechart options="options" data="chart" width="700" height="250"></canvas>

<div class="well well-sm">
	Last update: {{timestampFmt}}
<div>

<!-- empty graphs -->
<!--
<script>
var data = {
	labels : $.map($(Array(24)),function(val, i) { return i; }),
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]
		},
	]
};

new Chart( $("#temperatureGraph").get(0).getContext("2d") ).Line(data);
new Chart( $("#humidityGraph").get(0).getContext("2d") ).Line(data);
</script>
-->
