<h1>{{id}}</h1>

<h2><span class="glyphicon glyphicon-fire"></span> {{sensor.temperature}}&nbsp;&deg;C <small>temperature</small></h2>
<canvas linechart options="chartTempOptions" data="chartTempData" width="700" height="250" style="margin: 15px;"></canvas>

<h2><span class="glyphicon glyphicon-tint"></span> {{sensor.humidity}}&nbsp;% <small>humidity</small></h2>
<canvas linechart options="chartHumOptions" data="chartHumData" width="700" height="250" style="margin: 15px;"></canvas>

<h6>Last sensor data from {{timestampFmt}}</h6>
